.main {
  text-align: center;
  padding: 50px;
}

.img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

h1, h3, p {
  margin: 20px 0;
}

.main h1 span.Typewriter__cursor,
.main h3 span.Typewriter__cursor,
.main p span.Typewriter__cursor {
  visibility: hidden;
}

.main h1 span.Typewriter__cursor.active,
.main h3 span.Typewriter__cursor.active,
.main p span.Typewriter__cursor.active {
  visibility: visible;
}